<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./assets/favicon.ico" />
    <title>badge - plan with us</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/badge.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="badge-modal-backdrop" id="badgeModal">
      <div class="badge-modal-content">
        <div class="badge-icon-wrapper">
          <div class="badge-level-ring">
            <img
              src="<%= badgeData.image_url %>"
              alt="Badge for <%= badgeData.name %>"
            />
          </div>
        </div>

        <div class="badge-modal-header">
          <h2 class="badge-title"><%= badgeData.name %></h2>
        </div>

        <div class="badge-modal-body">
          <div class="badge-description"><%= badgeData.description %></div>

          <!-- <div class="badge-meta">
            <div>
              <p class="badge-meta-label">Category</p>
              <p class="badge-meta-value">Sustainability</p>
            </div>
            <div class="badge-meta-divider"></div>
            <div>
              <p class="badge-meta-label">XP Earned</p>
              <p class="badge-meta-value">+150</p>
            </div>
          </div> -->

          <div class="badge-action-buttons">
            <a href="/all-badges" class="badge-all-button">See all badges</a>
            <a href="/my-badges" class="badge-view-button">View My Badges</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
