.icon-container {
    background-color: rgba(103, 70, 54, 0.8);
    padding: 16px;
    border-radius: 50%;
    display: inline-block;
}

.icon-container img {
    width: 40px;
    height: 40px;
}

.badge-card-header {
    background-color: #674636;
    color: white;
    padding: 16px;
    font-weight: bold;
}

.badge-card-content {
    padding: 16px;
    color: #674636;
}